<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('./partials/layout.ejs') %>
        <link rel="stylesheet" href="/styles/transactions.css">

        <script src="/js/handle-session-check.js" defer></script>
        <script src="/js/handle-show-transaction-details.js" defer></script>
        <script src="/js/handle-close-transaction-details.js" defer></script>

<body>

    <%- include('./partials/header.ejs', { userId: userId }) %>

        <main class="main">
            <div class="title-container">
                <h1 id="title">Transactions</h1>
            </div>
            <div class="transactions-container">
                <% if (transactions && transactions.length > 0) { %>
                    <% transactions.forEach(transaction => { %>

                        <div class="transaction-item">
                            <div class="logo-container">
                                <img src="<%= transaction.logoUrl %>" alt="<%= transaction.recipientName %> Logo">
                            </div>
                            <div class="company-container">
                                <h2 class="company-name">
                                    <%= transaction.recipientName %>
                                </h2>
                                <p class="payment-method">
                                    <%= transaction.paymentMethod %>
                                </p>
                            </div>
                            <div class="amount-container">
                                    <span class="transaction-amount">
                                        <%= transaction.transactionAmount > 0 ? '-' : '+' %><%= Math.abs(transaction.transactionAmount).toFixed(2) %> €
                                    </span>
                            </div>
                        </div>
                        <% }) %>
                    <% } %>

            </div>

        </main>


        <%- include('./partials/footer.ejs') %>

</body>

</html>